<h3 align="center">Трішки про нас!</h3>
<h4>Вітаємо вас, автолюбитель!</h4>
<p>Ми - автосервіс Nicky, обслуговуємо та ремонтуємо автомобілі.</p>
<p>Наша місія – це щаслива людина на справному автомобілі;</p>
<p>Наша мета – покращувати якість життя за допомогою своїх послуг.</p>
<p>За 10 років ми виросли з маленького магазину з продажу масел у повноцінний комплексний автосервіс з 7 станціями – на Печерську, Лук'янівці, Деміївці, Відрадному, Окружній, Троєщині та Оболоні.</p>
<p>Ми працюємо тільки з офіційними представниками відомих компаній з виробництва масел, витратних матеріалів та запчастин в Україні та підтвердимо це сертифікатами. Купуючи витратні матеріали та запчастини у нас, ви купуєте офіційну продукцію.</p>
<h4>У чому переваги нашого автосервісу?</h4>
<p>Фіксована ціна обслуговування: ви сплачуєте ту вартість, яку бачите на сайті, а ціна ремонту відома ще до початку робіт;</p>
<p>100% гарантія результату: автосервіс Nicky надає гарантію на кожну запчастину та всі роботи, а також гарантує відсутність несправностей після обслуговування. Ми цінуємо кожного клієнта і завжди залагодимо будь-яке питання на його користь;</p>
<p>Економія часу: наші станції знаходяться в центрі міста та обслуговують клієнтів за зручним для них графіком – Пн-Пт з 8:00 до 19:00, Сб з 9:00 до 19:00;</p>
<p>Чемний і приємний персонал: ми допомагаємо нашим клієнтам з вирішенням їхніх проблем, для цього ми грамотно консультуємо та пояснюємо складні речі простою мовою. Ми завжди раді бачити наших клієнтів!</p>
<p>Nicky прагне стати автосервісом №1 - місцем, де людині буде комфортно обслуговуватися.</p>
<p>Ми стаємо кращими для наших клієнтів і завдяки нашим клієнтам.</p>
<p>Саме для цього ми підтримуємо з вами зворотний зв'язок. Ви завжди зможете поділитися враженнями про обслуговування з оператором нашого call-центру або залишити відгук з оцінкою на нашому сайті в розділі «Відгуки».</p>
<p>Будемо раді, якщо Ви довіритеся нам та станете ще одним щасливим автомобілістом.</p>
<p>До зустрічі у Nicky!</p>