<form action="/api/register" method="POST">
  <h2>Зареєструватися</h2>

  <div class="input-field">
    <a>Логін</a>
    <input type="text" name="Mail">
    <a>Пароль</a>
    <input type="text" name="Pass" >
  </div>

  <button type="submit" class="btn">Зареєструватися</button>
</form>

<form action="/api/logining" method="POST">
  <h2>Ввійти в аккаунт</h2>

  <div class="input-field">
    <a>Логін</a>
    <input type="text" name="Mail">
    <a>Пароль</a>
    <input type="text" name="Pass">
  </div>

  <button type="submit" class="btn">Ввійти</button>
</form>
